doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="https://org.openticket.tech/css/main.css", rel="stylesheet", type="text/css")
  body
    form(method="POST", action="/invite")
      section.hero.is-fullheight.is-primary.is-bold
        .hero-body
          .container
            h1.title #{community} Slack
            h2.subtitle #{__('HEADER', community)}
            h2.subtitle
              input(type="email", name="email", autofocus, placeholder="#{__('ENTER_EMAIL')}")#slack-email.input
            if tokenRequired
              h2.subtitle
                input(type="text", name="token", placeholder="#{__('ENTER_TOKEN')}")#slack-token.input
            h2.subtitle
              input(type="submit", value="Join").button.is-large.is-inverted.is-primary
        .hero-foot
          nav.tabs.is-boxed.is-fullwidth
            .container
              ul
                li
                  a(href="//org.openticket.tech") Openticket project website
                li
                  a(href="//twitter.com/open_ticket") Twitter
                li
                  a(href="//openticket.slack.com") Already have an account? Sign in
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
